body {
  background: url("background-image.png");
  background-size: 1500px;
  font-family: "Courier New", monospace; 
  font-size: 18px;
  color: #e0e0e0;
  text-align: justify;
}

div.page-content {
  margin: auto;
  border: 4px solid rgb(150, 48, 22);
  border-radius: 15px;
  padding: 30px;
  width: 800px;
  background-color: #212121;
  
}

h1.title {
  color: rgb(111, 140, 141);
  text-align: center;
  margin: 10px;
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  color: rgb(111, 188, 190);
}